@model Candy_Shop.Models.Czekoladka

@{
ViewData["Title"] = "Add Chocolate";
}

<h2>Add Chocolate</h2>

<form asp-action="AddChocolate" method="post">
  <div class="form-group">
    <label asp-for="nazwa"></label>
    <input asp-for="nazwa" class="form-control" />
    <span asp-validation-for="nazwa" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="czekolada"></label>
    <select asp-for="czekolada" class="form-control">
      <option value="1">Mleczna</option>
      <option value="2">Gorzka</option>
    </select>
    <span asp-validation-for="czekolada" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="orzechy"></label>
    <select asp-for="orzechy" class="form-control">
      <option value="1">laskowe</option>
      <option value="2">migdały</option>
    </select>
    <span asp-validation-for="orzechy" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="masa"></label>
    <input asp-for="masa" class="form-control" />
    <span asp-validation-for="masa" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="cena"></label>
    <input asp-for="cena" class="form-control" />
    <span asp-validation-for="cena" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="opis"></label>
    <input asp-for="opis" class="form-control" />
    <span asp-validation-for="opis" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Add Chocolate</button>
</form>
