@model Candy_Shop.Models.Czekoladka

@{
ViewData["Title"] = "Edit Chocolate";
}

<div class="text-center">
  <h2 class="bg-dark text-white p-2">Edit Chocolate</h2>

  <form asp-action="EditChocolate" method="post" class="my-4">
    <input type="hidden" asp-for="id" />
    <div class="form-group">
      <label asp-for="nazwa" class="control-label">Chocolate Name:</label>
      <input asp-for="nazwa" class="form-control" />
      <span asp-validation-for="nazwa" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="czekolada" class="control-label">Chocolate Type:</label>
      <select asp-for="czekolada" class="form-control">
        <option value="1">Milk Chocolate</option>
        <option value="2">Dark Chocolate</option>
      </select>
      <span asp-validation-for="czekolada" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="orzechy" class="control-label">Nuts:</label>
      <select asp-for="orzechy" class="form-control">
        <option value="1">Hazelnuts</option>
        <option value="2">Almonds</option>
      </select>
      <span asp-validation-for="orzechy" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="masa" class="control-label">Weight (g):</label>
      <input asp-for="masa" class="form-control" />
      <span asp-validation-for="masa" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="cena" class="control-label">Price:</label>
      <input asp-for="cena" class="form-control" />
      <span asp-validation-for="cena" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="opis" class="control-label">Description:</label>
      <textarea asp-for="opis" class="form-control"></textarea>
      <span asp-validation-for="opis" class="text-danger"></span>
    </div>
    <div style="height: 10px;"></div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
