@using Candy_Shop.Utilities
@model Candy_Shop.Models.Zawartosc

@{
ViewData["Title"] = "Create";
}

<h1 class="bg-dark text-white p-2">Create New Order Item</h1>

<form asp-action="Create" method="post">
  <div class="form-group">
    <label asp-for="sztuk" class="control-label">The amount of chocolates</label>
    <input asp-for="sztuk" class="form-control" />
    <span asp-validation-for="sztuk" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="id_czekoladki" class="control-label">Chocolate name</label>
    <select asp-for="id_czekoladki" asp-items="ViewBag.Czekoladki" class="form-control"></select>
    <span asp-validation-for="id_czekoladki" class="text-danger"></span>
  </div>
  <div class="form-group">
    <input type="hidden" asp-for="username" value="@UserSession.GetUsername(Context.Session)" />
  </div>
  <div style="height: 10px;"></div>
  <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
  </div>
</form>
<div style="height: 10px;"></div>
<div>
  <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
